.button {
  display: block;
  width: fit-content;
  background-color: #e2a4b1;
  color: $button-text-color;
  font-size: 24px;
  font-weight: 500;
  padding: 14px 33px;
  transition: all 0.25s ease-in-out;

  &:hover {
    background-color: #5b2333;
  }
}
