@mixin title {
  font-size: 64px;
  color: $primary-text-color;
  font-weight: 300;
  text-align: center;
}

@mixin subtitle {
  font-size: 40px;
  color: $primary-text-color;
  font-weight: 400;
  margin-bottom: 50px;
}

@mixin text {
  font-size: 24px;
  color: $primary-text-color;
  font-weight: 300;
  line-height: 33px;
}

@mixin important {
  font-size: 32px;
  color: $primary-text-color;
  font-weight: 400;
}

@mixin media-max($width) {
  @media (max-width: $width) {
    @content;
  }
}
