@import 'destyle';
@import 'vars';
@import 'mixins';
@import 'hamburger';

html {
  scroll-behavior: smooth;
}
.button {
  display: block;
  width: fit-content;
  // background-color: $button-background-color;
  // background-color: #5b2333;
  background-color: #e2a4b1;
  color: $button-text-color;
  font-size: 24px;
  font-weight: 500;
  padding: 14px 33px;
  &:hover {
    background-color: #5b2333;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  // font-weight: <weight>;
  font-style: normal;
  background-color: $primary-background-color;
  //
}

.container {
  max-width: 1336px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

// .header {
//   border-bottom: 1px solid #5b2333;
//   padding-bottom: 20px;
//   position: relative;
//   background-color: #F3EEEB;
//   &__container {
//     display: flex;
//   }
//   &__nav {
//     width: 100%;
//   }
//   &__list {
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     @include media-max(768px) {
//       display: none;
//     }
//   }
//   &__item {
//     position: relative;
//   }
//   &__link {
//     display: flex;
//     font-size: 22px;
//     font-weight: 400;
//     color: $primary-text-color;
//     @include media-max(1200px) {
//       font-size: 20px;
//     }
//     @include media-max(992px) {
//       font-size: 18px;
//     }
//     @include media-max(576px) {
//       font-size: 15px;
//     }
//     &:hover {
//       color: #000;
//       font-weight: 500;

//     }
//     &--words {
//       padding-top: 52px;
//       transition: all 0.3s ease-in-out;
//       &:hover {
//         + .header__dropdown {
//           opacity: 1;
//         }
//       }
//     }
//   }
//   &__link--services {
//     display: flex;
//     align-items: center;
//     gap: 10px;
//   }
//   &__link-icon {
//     width: 15px;
//     height: 15px;
//   }
//   &__dropdown {
//     display: none;
//     top: 100%;
//     background-color: #f7f2ee;
//     position: absolute;
//     padding: 24px 24px;
//     width: 250px;
//     border: 1px solid rgba(#000, 0.2);
//     transform: translateY(10px);
//     &.is-active {
//       display: block;
//     }
//   }
//   &__dropdown-link {
//     display: flex;
//     font-size: 20px;
//     font-weight: 400;
//     color: $primary-text-color;
//     padding: 10px 0;
//     &:hover {
//       color: #000;
//     }
//   }
//   &__logo {
//     display: block;
//     width: 185px;
//     height: 95px;
//   }
//   &__button {
//     display: flex;
//     padding-top: 55px;
//   }
// }

// .hamburger-box{
//     display: none;
//     @include media-max(768px) {
//       display: block;
//     }
//   }

// .sidebar{
//   display: none;
//   position: absolute;
//   left: 0;
//   top: 100%;
//   width: 90%;
//   height: 100vh;
//   background-color: #ffffff;
//   z-index: 100;
//   &.is-active {
//     display: block;
//   }
//   &__link{
//     font-size: 20px;
//     font-weight: 400;
//     color: #55575E;
//   }
// }

// .intro {
//   padding: 120px 0 265px 0;
//   background-image: url("@/assets/img/intro.jpeg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center center;

//   &__container {
//     display: flex;
//     flex-direction: column;
//     // align-items: center;
//     // justify-content: center;
//     // height: 100%;
//   }
//   &__title {
//     font-family: "Ephesis", sans-serif;
//     color: $secondary-text-color;
//     font-size: 96px;
//     max-width: 970px;
//     text-align: center;
//     @include media-max(1200px) {
//       font-size: 90px;
//     }
//     @include media-max(992px) {
//       font-size: 70px;
//     }
//     @include media-max(768px) {
//       font-size: 65px;
//     }
//     @include media-max(576px) {
//       font-size: 60px;
//     }
//   }

//   &__button {
//     display: block;
//     padding: 15px 80px;
//     background: linear-gradient(135deg, #ffffff 30%, #c2a7aa 90%);
//     opacity: 0.8;
//     border: #5b2333 1px solid;
//     font-size: 32px;
//     font-weight: 300;
//     color: $primary-text-color;
//     &:hover{
//       color: $secondary-text-color;
//       font-weight: 400;
//       background: linear-gradient(135deg, #ffffff 30%, #ce8d93 90%);
//     opacity: 0.8;
//     }
//   }

//   .postcard {
//     margin-bottom: 245px;
//     align-self: flex-end;
//     &__title {
//       font-size: 32px;
//       color: $primary-text-color;
//       font-weight: 300;
//       @include media-max(1200px) {
//         font-size: 30px;
//       }
//       @include media-max(992px) {
//         font-size: 28px;
//       }
//       @include media-max(768px) {
//         font-size: 25px;
//       }
//       @include media-max(576px) {
//         font-size: 20px;
//       }

//       &--spaced {
//         padding-left: 35px;
//       }
//     }
//   }
//   &__button {
//     margin-right: 175px;
//     align-self: flex-end;
//     @include media-max(768px) {
//       margin-right: 125px;
//     }
//     @include media-max(576px) {
//       margin-right: 70px;
//     }
//   }
// }

// .about {
//   &__body {
//     display: flex;
//     background-image: url("@/assets/img/about-pic.JPG");
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-position: center right;
//   }
//   &__content {
//     position: relative;
//     z-index: 200;
//     max-width: 725px;
//     position: relative;
//     background-color: rgba(239, 226, 225, 0.7);
//   }
//   &__title {
//     @include title;
//     @include media-max(1200px) {
//       font-size: 55px;
//     }
//     @include media-max(992px) {
//       font-size: 45px;
//     }
//     @include media-max(768px) {
//       margin-top: 70px;
//     }
//     @include media-max(576px) {
//       font-size: 35px;
//     }
//   }
//   &__subtitle {
//     @include subtitle;
//     margin-top: 30px;
//     @include media-max(1200px) {
//       font-size: 32px;
//     }
//     @include media-max(992px) {
//       font-size: 28px;
//     }
//     @include media-max(576px) {
//       font-size: 25px;
//     }
//   }
//   &__text {
//     @include text;
//     margin-top: 40px;
//     @include media-max(1200px) {
//       font-size: 20px;
//     }
//     @include media-max(992px) {
//       font-size: 18px;
//       line-height: 30px;
//     }
//     @include media-max(576px) {
//       font-size: 17px;
//       font-weight: 400;
//     }
//   }
//   &__important {
//     @include important;
//     max-width: 530px;
//     margin-top: 40px;
//     @include media-max(1200px) {
//       font-size: 24px;
//     }
//     @include media-max(768px) {
//       font-size: 20px;
//     }
//   }
//   &__important-strong {
//     font-weight: 400;
//   }
//   &__figure {
//     width: 910px;
//     height: 1300px;
//   }
//   &__image {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// }

// .shop {
//   &__articles {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
//     gap: 20px 50px;
//     margin-top: 50px;
//     @include media-max(1200px) {
//       gap: 20px;
//   }
//   }
//   &__article {
//     width: 100%;
//     height: 100%;
//   }

//   &__figure {
//     width: 100%;
//     position: relative;
//   }
//   &__image {
//     width: 100%;
//     height: auto;
//     display: block;
//     aspect-ratio: 1/1;
//     object-fit: cover;
//     @include media-max(576px) {

//   }
//   }
//   &__title {
//     @include title;
//     margin-top: 120px;
//     @include media-max(1200px) {
//       font-size: 55px;
//     }
//     @include media-max(992px) {
//       font-size: 45px;
//     }
//     @include media-max(768px) {
//       margin-top: 70px;
//     }
//     @include media-max(576px) {
//       font-size: 40px;
//     }
//   }
//   &__title--page {
//     margin-top: 50px;
//     margin-right: 45px;
//   }
//   &__subtitle {
//     font-size: 24px;
//     color: $primary-text-color;
//     font-weight: 400;
//     margin-bottom: 15px;
//   }
//   &__price {
//     font-size: 24px;
//     color: $primary-text-color;
//     font-weight: 500;
//     // margin-bottom: 90px;
//   }
//   &__button {
//     display: block;
//     text-align: center;
//     font-size: 32px;
//     color: $primary-text-color;
//     font-weight: 300;
//     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
//     margin: 0 auto;
//     margin-top: 45px;
//     &:hover{
//       color:$secondary-text-color;
//     }
//   }
// }

// .product {
//   &__content {
//     display: flex;
//     gap: 40px;
//     margin-top: 70px;
//   }
//   &__figure {
//     width: 100%;
//   }
//   &__image {
//     display: block;
//     max-width: 500px;
//     // height: 100%;
//     object-fit: cover;
//   }
//   &__title {
//     font-size: 32px;
//     color: $primary-text-color;
//     font-weight: 400;
//     margin-top: 30px;
//   }
//   &__subtitle {
//     font-size: 20px;
//     color: $primary-text-color;
//     font-weight: 300;
//     margin-top: 20px;
//   }
//   &__price {
//     font-size: 24px;
//     color: $secondary-text-color;
//     font-weight: 500;
//     margin-top: 20px;
//   }
// }

// .dozen {
//   &__subtitle {
//     font-size: 24px;
//     color: $primary-text-color;
//     font-weight: 300;
//     margin-top: 20px;
//   }
//   &__buttons {
//     margin-top: 30px;
//     display: flex;
//     gap: 30px;
//   }
//   &__button {
//     display: flex;

//     input:checked + div {
//       background-color: #e2a4b1;
//       border: solid 1px #55575e;
//     }

//     div {
//       background-color: #d9d9d9;
//       color: $secondary-text-color;
//       font-size: 24px;
//       font-weight: 500;
//       padding: 10px 20px;
//       border-radius: 4px;

//       &:hover {
//         background-color: #e2a4b1;
//       }
//     }
//   }
// }

// .extra {
//   margin-top: 50px;
//   &__title {
//     font-size: 40px;
//     color: $primary-text-color;
//     font-weight: 400;
//   }
//   &__action {
//     display: flex;
//     flex-direction: column;
//     gap: 35px;
//     margin-top: 50px;
//   }
//   &__card {
//     display: flex;
//     justify-content: space-between;
//     max-width: 835px;
//     &.is-active {
//       background-color: rgba(226, 164, 177, 0.3);
//     }
//   }
//   &__card-content {
//     display: flex;
//   }
//   &__figure {
//     max-width: 175px;
//   }
//   &__icon {
//     display: block;
//     width: 100%;
//   }
//   &__product-info {
//     margin-left: 55px;
//   }
//   &__card-name {
//     font-size: 30px;
//     color: $primary-text-color;
//     font-weight: 400;
//   }
//   &__card-price {
//     font-size: 28px;
//     color: $primary-text-color;
//     font-weight: 500;
//     margin-top: 10px;
//   }
//   &__button {
//     display: flex;
//     font-size: 30px;
//     color: $primary-text-color;
//     font-weight: 400;
//     border-bottom: solid 1px $secondary-text-color;
//     align-self: flex-start;
//   }
// }

// .order {
//   &__list {
//     // max-width: 750px;
//     margin-top: 100px;
//   }
//   &__link {
//     display: flex;
//     font-size: 32px;
//     font-weight: 400;
//     color: $primary-text-color;
//     margin-top: 20px;
//     &--last {
//       color: #7e0e3b;
//       font-weight: 500;
//     }
//   }
//   &__button {
//     background-color: #d9d9d9;
//     color: $secondary-text-color;
//     font-size: 24px;
//     font-weight: 500;
//     padding: 10px 20px;
//     border-radius: 4px;
//     margin-top: 80px;
//   }
// }

// .wedding {
//   &__container {
//     &::after {
//       content: "";
//       display: block;
//       width: 100%;
//       max-width: 855px;
//       height: 160px;
//       background-image: url("@/assets/img/venzel.svg");
//       background-repeat: no-repeat;
//       margin: 0 auto;
//       background-size: contain;
//       background-position: center center;
//       margin-top: 70px;
//     }
//   }
//   &__title {
//     @include title;
//     margin-top: 120px;
//     @include media-max(1200px) {
//       font-size: 55px;
//     }
//     @include media-max(992px) {
//       font-size: 45px;
//     }
//     @include media-max(768px) {
//       margin-top: 70px;
//     }
//     @include media-max(576px) {
//       font-size: 35px;
//     }
//   }
//   &__text {
//     @include text;
//     text-align: center;
//     margin-top: 40px;
//     @include media-max(1200px) {
//       font-size: 20px;
//     }
//     @include media-max(992px) {
//       font-size: 18px;
//       line-height: 30px;
//     }
//     @include media-max(576px) {
//       font-size: 17px;
//       margin-top: 30px;
//     }
//   }
//   &__image {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
//   &__button {
//     margin: 0 auto;
//     margin-top: 40px;
//   }
// }

.swiper {
  width: 100%;
  height: 725px;
  margin-top: 80px;
  &__action {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}

// .events {
//   &__container {
//     display: flex;
//     // margin-bottom: 120px;
//     margin-top: 120px;
//     @include media-max(992px) {
//       margin-top: 70px;
//     }
//     @include media-max(768px) {
//       flex-direction: column;
//     }
//   }
//   &__title {
//     @include title;
//     @include media-max(1200px) {
//       font-size: 55px;
//     }
//     @include media-max(992px) {
//       font-size: 45px;
//     }
//     @include media-max(576px) {
//       font-size: 35px;
//     }
//   }
//   &__subtitle {
//     @include subtitle;
//     margin-top: 40px;
//     @include media-max(1200px) {
//       font-size: 32px;
//     }
//     @include media-max(992px) {
//       font-size: 28px;
//     }
//     @include media-max(576px) {
//       font-size: 25px;
//     }
//     @include media-max(576px) {
//       margin-top: 40px;
//     }
//   }
//   &__text {
//     @include text;
//     margin-top: 40px;
//     @include media-max(1200px) {
//       font-size: 20px;
//     }
//     @include media-max(992px) {
//       font-size: 18px;
//       line-height: 30px;
//     }
//     @include media-max(576px) {
//       font-size: 17px;
//     }
//   }
//   &__button {
//     margin-top: 80px;

//     &--desktop {
//       @include media-max(768px) {
//         display: none;
//       }
//     }
//   }

//   &__action {
//     &--mobile {
//       display: none;
//       @include media-max(768px) {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//       }
//     }
//   }

//   &__images {
//     display: flex;
//     width: 100%;
//     height: auto;
//     gap: 40px;
//     flex-direction: column;
//     // @include media-max(992px) {
//     //   flex-direction: row;
//     //   max-width: none;
//     // }
//     @include media-max(768px) {
//       display: flex;
//       gap: 20px;
//       flex-direction: row;
//       max-width: none;
//     }
//     @include media-max(576px) {
//       flex-direction: column;
//     }
//   }
//   &__image--arch {
//     display: block;
//     width: 100%;
//     height: auto;
//     object-fit: cover;
//   }
//   &__image--sofa {
//     display: block;
//     width: 100%;
//     height: auto;
//     object-fit: cover;
//   }
//   &__figure-first {
//     width: 100%;
//     max-width: 480px;
//     @include media-max(768px) {
//     }
//   }
//   &__figure-second {
//     width: 100%;
//     max-width: 480px;
//     @include media-max(768px) {
//     }
//   }
//   &__content {
//     padding: 65px 0;
//     width: 100%;
//     max-width: 665px;
//     margin-right: 90px;
//     @include media-max(1200px) {
//       // margin-right: 45px;
//     }
//     @include media-max(992px) {
//       padding: 0;
//     }
//   }
//   &::after {
//     content: "";
//     display: block;
//     width: 100%;
//     max-width: 855px;
//     height: 160px;
//     background-image: url("@/assets/img/venzel.svg");
//     background-repeat: no-repeat;
//     margin: 0 auto;
//     background-size: contain;
//     background-position: center center;
//     margin-top: 120px;
//     @include media-max(992px) {
//       margin-top: 70px;
//     }
//   }
// }

// .home {
//   &__body {
//     display: flex;
//     column-gap: 90px;
//     margin-top: 120px;
//     @include media-max(1200px) {
//       column-gap: 30px;
//     }
//     @include media-max(768px) {
//       flex-direction: column;
//       margin-top: 70px;
//     }
//   }
//   &__container {
//     &::after {
//       content: "";
//       display: block;
//       width: 100%;
//       max-width: 855px;
//       height: 160px;
//       background-image: url("@/assets/img/venzel.svg");
//       background-repeat: no-repeat;
//       margin: 0 auto;
//       background-size: contain;
//       background-position: center center;
//       margin-top: 120px;
//       @include media-max(768px) {
//         margin-top: 70px;
//       }
//     }
//   }
//   &__content {
//     width: 100%;
//     // max-width: 625px;
//     @include media-max(768px) {
//       margin-top: 30px;
//     }
//   }
//   &__figure-first {
//     display: flex;
//     max-height: 580px;
//   }
//   &__figure-second {
//     display: flex;
//     max-height: 660px;
//     // margin-top: 20px;
//   }
//   &__images {
//     display: flex;
//     flex-direction: column;
//     gap: 40px;
//     width: 100%;
//     max-width: 515px;

//     @include media-max(768px) {
//       flex-direction: row;
//       max-width: none;
//     }
//     @include media-max(576px) {
//       flex-direction: column;
//       margin-top: 40px;
//     }
//   }
//   &__image {
//     display: block;
//     width: 100%;
//     height: auto;
//     object-fit: cover;
//     @include media-max(768px) {
//       // height: 100%;
//     }
//   }
//   &__title {
//     @include title;
//     margin-top: 120px;
//     @include media-max(1200px) {
//       font-size: 55px;
//     }
//     @include media-max(992px) {
//       font-size: 45px;
//     }
//     @include media-max(768px) {
//       margin-top: 70px;
//     }
//     @include media-max(576px) {
//       font-size: 35px;
//     }
//   }
//   &__subtitle {
//     @include subtitle;
//     @include media-max(1200px) {
//       font-size: 32px;
//     }
//     @include media-max(992px) {
//       font-size: 28px;
//     }
//     @include media-max(576px) {
//       font-size: 25px;
//     }
//   }
//   &__text {
//     @include text;
//     margin-top: 40px;
//     @include media-max(1200px) {
//       font-size: 20px;
//     }
//     @include media-max(992px) {
//       font-size: 18px;
//       line-height: 30px;
//     }
//     @include media-max(576px) {
//       font-size: 17px;
//     }
//   }
//   &__important {
//     @include important;
//     margin-top: 40px;
//     @include media-max(1200px) {
//       font-size: 24px;
//     }
//     @include media-max(768px) {
//       font-size: 20px;
//     }
//   }

//   &__important-strong {
//     font-weight: 400;
//   }
//   &__action {
//     @include media-max(768px) {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       margin-top: 70px;
//     }
//   }
//   &__button {
//     margin-top: 80px;
//   }
// }

// .yacht {
//   &__body {
//     display: flex;
//     margin-top: 120px;
//     column-gap: 90px;
//     @include media-max(1200px) {
//       column-gap: 30px;
//     }
//     @include media-max(768px) {
//       flex-direction: column;
//       margin-top: 70px;
//     }
//   }
//   &__container {
//     &::after {
//       content: "";
//       display: block;
//       width: 100%;
//       max-width: 855px;
//       height: 160px;
//       background-image: url("@/assets/img/venzel.svg");
//       background-repeat: no-repeat;
//       margin: 0 auto;
//       background-size: contain;
//       background-position: center center;
//       margin-top: 120px;
//       @include media-max(768px) {
//         margin-top: 70px;
//       }
//     }
//   }
//   &__content {
//     width: 100%;
//     max-width: 625px;
//     @include media-max(768px) {
//       margin-top: 30px;
//     }
//   }
//   &__title {
//     @include title;
//     margin-top: 120px;
//     @include media-max(1200px) {
//       font-size: 55px;
//     }
//     @include media-max(992px) {
//       font-size: 45px;
//       margin-top: 70px;
//     }
//     @include media-max(576px) {
//       font-size: 35px;
//     }
//   }
//   &__subtitle {
//     @include subtitle;
//     // max-width: 695px;
//     @include media-max(1200px) {
//       font-size: 32px;
//     }
//     @include media-max(992px) {
//       font-size: 28px;
//     }
//     @include media-max(576px) {
//       font-size: 25px;
//     }
//   }
//   &__text {
//     @include text;
//     margin-top: 40px;
//     @include media-max(1200px) {
//       font-size: 20px;
//     }
//     @include media-max(992px) {
//       font-size: 18px;
//       line-height: 30px;
//     }
//     @include media-max(576px) {
//       font-size: 17px;
//     }
//   }
//   &__important {
//     @include important;
//     margin-top: 40px;
//     @include media-max(1200px) {
//       font-size: 24px;
//     }
//     @include media-max(768px) {
//       font-size: 20px;
//     }
//   }
//   &__important-strong {
//     font-weight: 400;
//   }
//   &__figure-first {
//     display: flex;
//     max-height: 575px;
//     @include media-max(768px) {
//       width: 100%;
//     }
//   }

//   &__figure-second {
//     display: flex;
//     max-height: 575px;
//     // margin-top: 20px;
//     @include media-max(768px) {
//       width: 100%;
//     }
//   }
//   &__images {
//     display: flex;
//     flex-direction: column;
//     gap: 40px;
//     width: 100%;
//     max-width: 515px;

//     @include media-max(768px) {
//       flex-direction: row;
//       max-width: none;
//       margin-top: 40px;
//     }

//     @include media-max(576px) {
//       flex-direction: column;
//       margin-top: 40px;
//     }
//   }
//   &__image {
//     display: block;
//     width: 100%;
//     height: auto;
//     object-fit: cover;
//     @include media-max(768px) {
//       height: 100%;
//     }
//   }
//   &__button {
//     margin-top: 80px;

//     &--desktop {
//       @include media-max(768px) {
//         display: none;
//       }
//     }
//   }
//   &__action {
//     &--mobile {
//       display: none;
//       @include media-max(768px) {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//       }
//     }
//   }
// }

// .floral {
//   &__body {
//     display: flex;
//     margin-top: 120px;
//     column-gap: 60px;
//     @include media-max(1200px) {
//       column-gap: 30px;
//     }
//     @include media-max(768px) {
//       flex-direction: column;
//       margin-top: 70px;
//     }
//     @include media-max(576px) {
//       margin-top: 80px;
//     }
//   }
//   &__container {
//     &::after {
//       content: "";
//       display: block;
//       width: 100%;
//       max-width: 855px;
//       height: 160px;
//       background-image: url("@/assets/img/venzel.svg");
//       background-repeat: no-repeat;
//       margin: 0 auto;
//       background-size: contain;
//       background-position: center center;
//       margin-top: 120px;
//     }
//   }
//   &__content {
//     width: 100%;
//     max-width: 625px;
//     @include media-max(768px) {
//       margin-top: 30px;
//     }
//   }
//   &__title {
//     @include title;
//     margin-top: 120px;
//     @include media-max(1200px) {
//       font-size: 55px;
//     }
//     @include media-max(992px) {
//       font-size: 40px;
//       margin-top: 70px;
//     }
//     @include media-max(576px) {
//       font-size: 35px;
//     }
//   }
//   &__subtitle {
//     @include subtitle;
//     @include media-max(1200px) {
//       font-size: 32px;
//     }
//     @include media-max(992px) {
//       font-size: 28px;
//       margin-top: 30px;
//     }
//     @include media-max(576px) {
//       font-size: 25px;
//     }
//   }
//   &__text {
//     @include text;
//     margin-top: 40px;
//     @include media-max(1200px) {
//       font-size: 20px;
//     }
//     @include media-max(992px) {
//       font-size: 18px;
//       line-height: 30px;
//     }
//     @include media-max(576px) {
//       font-size: 17px;
//     }
//   }
//   &__important {
//     @include important;
//     margin-top: 40px;
//     @include media-max(1200px) {
//       font-size: 24px;
//     }
//     @include media-max(768px) {
//       font-size: 20px;
//     }
//   }
//   &__important-strong {
//     font-weight: 400;
//   }
//   &__figure {
//     display: flex;
//     max-height: 900px;
//     @include media-max(992px) {
//       width: 100%;
//     }
//     @include media-max(768px) {
//       width: 100%;
//     }
//   }
//   &__image {
//     display: block;
//     width: 100%;
//     height: auto;
//     object-fit: cover;
//     @include media-max(768px) {
//       height: 100%;
//     }
//   }
//   &__button {
//     margin-top: 80px;
//   }
//   &__action {
//     @include media-max(768px) {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }
//   }
// }

// .bloom {
//   &__body {
//     display: flex;
//     margin-top: 120px;
//     column-gap: 60px;
//     @include media-max(1200px) {
//       column-gap: 30px;
//     }
//     @include media-max(768px) {
//       flex-direction: column;
//       margin-top: 70px;
//     }
//     @include media-max(576px) {
//       margin-top: 80px;
//     }
//   }
//   &__container {
//     &::after {
//       content: "";
//       display: block;
//       width: 100%;
//       max-width: 855px;
//       height: 160px;
//       background-image: url("@/assets/img/venzel.svg");
//       background-repeat: no-repeat;
//       margin: 0 auto;
//       background-size: contain;
//       background-position: center center;
//       margin-top: 120px;
//     }
//   }
//   &__content {
//     width: 100%;
//     // max-width: 620px;
//     @include media-max(768px) {
//       margin-top: 30px;
//     }
//   }
//   &__title {
//     @include title;
//     margin-top: 120px;
//     @include media-max(1200px) {
//       font-size: 55px;
//     }
//     @include media-max(992px) {
//       font-size: 40px;
//       margin-top: 70px;
//     }
//     @include media-max(576px) {
//       font-size: 35px;
//     }
//   }
//   &__subtitle {
//     font-size: 30px;
//     color: $primary-text-color;
//     font-weight: 400;
//     margin-top: 40px;

//     @include media-max(1200px) {
//       font-size: 25px;
//     }
//     @include media-max(992px) {
//       font-size: 20px;
//     }
//     @include media-max(768px) {
//       font-size: 18px;
//     }
//     @include media-max(576px) {
//       font-size: 25px;
//     }
//   }
//   &__text {
//     @include text;
//     margin-top: 40px;
//     @include media-max(1200px) {
//       font-size: 20px;
//     }
//     @include media-max(992px) {
//       font-size: 18px;
//       line-height: 30px;
//     }
//     @include media-max(576px) {
//       font-size: 17px;
//     }
//   }
//   &__important {
//     @include important;
//     // margin-bottom: 120px;
//     @include media-max(1200px) {
//       font-size: 24px;
//     }
//     @include media-max(992px) {
//       font-size: 20px;
//     }
//     @include media-max(768px) {
//       font-size: 20px;
//     }
//   }
//   &__important-strong {
//     font-weight: 400;
//   }
//   &__text-list {
//     margin-bottom: 20px;
//   }
//   &__item {
//     font-size: 24px;
//     color: $primary-text-color;
//     font-weight: 300;
//     margin-bottom: 15px;
//     line-height: 33px;
//     @include media-max(1200px) {
//       font-size: 20px;
//     }
//     @include media-max(992px) {
//       font-size: 17px;
//     }
//   }
//   &__list {
//     margin-bottom: 40px;
//   }
//   &__figure {
//     display: flex;
//     // max-height: 900px;
//     margin-top: 70px;
//     @include media-max(992px) {
//       width: 100%;
//     }
//     @include media-max(768px) {
//       width: 100%;
//     }
//   }
//   &__image {
//     display: block;
//     width: 100%;
//     max-width: 900px;
//     height: auto;
//     object-fit: cover;
//     @include media-max(992px) {
//       width: 100%;
//     }
//     @include media-max(768px) {
//       height: 100%;
//     }
//   }
//   &__button {
//     margin-top: 80px;

//     &--desktop {
//       @include media-max(768px) {
//         display: none;
//       }
//     }
//   }
//   &__action {
//     &--mobile {
//       display: none;
//       @include media-max(768px) {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//       }
//     }
//   }
// }

// .contact {
//   background-image: url("@/assets/img/flower-form.png");
//   background-repeat: no-repeat;
//   background-size: auto;
//   background-position: 100% 0;
//   &__title {
//     font-size: 48px;
//     color: $primary-text-color;
//     font-weight: 300;
//     text-align: center;
//     margin-top: 120px;
//     @include media-max(1200px) {
//       font-size: 55px;
//     }
//     @include media-max(992px) {
//       font-size: 40px;
//       margin-top: 70px;
//     }
//     @include media-max(576px) {
//       font-size: 35px;
//     }
//   }
//   &__text {
//     font-size: 24px;
//     color: $primary-text-color;
//     font-weight: 300;
//     margin-bottom: 20px;
//     line-height: 33px;
//   }
//   &__form-input {
//     font-size: 20px;
//     color: #787272;
//     font-weight: 300;
//     padding: 16px 16px;
//     background-color: #fff;
//     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
//     margin-bottom: 25px;
//     width: 100%;
//     @include media-max(1200px) {
//       font-size: 18px;
//     }
//     @include media-max(992px) {
//       font-size: 16px;
//       line-height: 30px;
//     }
//     @include media-max(576px) {
//       font-size: 15px;
//       padding: 12px 20px;
//     }
//   }
//   &__form-label {
//     margin-top: 10px;
//     display: flex;
//     font-size: 20px;
//     font-weight: 300;
//     color: $primary-text-color;
//     @include media-max(1200px) {
//       font-size: 18px;
//     }
//     @include media-max(992px) {
//       font-size: 16px;
//       line-height: 30px;
//     }
//     @include media-max(576px) {
//       font-size: 15px;
//     }
//   }
//   &__form {
//     max-width: 875px;
//     width: 100%;
//     margin-top: 50px;
//   }

//   &__body {
//     display: flex;
//     justify-content: center;
//   }
//   &__form-textarea {
//     max-height: 255px;
//     width: 100%;
//     background-color: #fff;
//     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
//     font-size: 20px;
//     color: #787272;
//     font-weight: 300;
//     margin-bottom: 65px;
//     padding: 16px 16px;
//     @include media-max(576px) {
//       font-size: 15px;
//     }
//   }

//   &__form-button {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: #5b2333;
//     color: $button-text-color;
//     font-size: 24px;
//     font-weight: 500;
//     padding: 16px 33px;
//     width: 235px;
//     margin: 0 auto;
//     margin-bottom: 100px;

//     &:hover {
//       background-color: darken(#5b2333, 10%);
//     }
//   }
// }

// .footer {
//   padding: 255px 0 265px 0;
//   background-image: url("@/assets/img/footer-group.png");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center right;

//   @include media-max(1200px) {
//     padding: 120px 0 120px 0;
//   }

//   &__container {
//     // display: flex;
//     // flex-direction: column;
//     // align-items: center;
//   }
//   &__title {
//     font-size: 32px;
//     color: $primary-text-color;
//     font-weight: 300;
//     margin-bottom: 165px;

//     @include media-max(1200px) {
//       font-size: 20;
//     }
//   }
//   &__subtitle {
//     font-size: 24px;
//     color: $primary-text-color;
//     font-weight: 400;
//     margin-bottom: 45px;
//   }
//   &__link {
//     font-size: 20px;
//     color: $primary-text-color;
//     font-weight: 300;
//   }
//   &__list {
//     margin-bottom: 200px;
//   }
//   &__social-media {
//     display: flex;
//     align-items: center;
//     gap: 20px;
//   }
// }
