@import 'destyle';
@import 'vars';
@import 'mixins';
@import 'hamburger';
@import 'components';
@import 'swiper';
@import 'toast';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: $primary-background-color;
}

.container {
  max-width: 1336px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
